.editor > div {
  margin: auto;
}

.canvas-editor {
  position: relative;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 10px;
}

.canvas-editor-main {
  padding: 70px 30px 80px;
  margin: auto;
}

/*
The canvas border created a blur effect on the document in the versions page.
Removing the border fixes that issue.
Please note that for this we are dependent on third-party css-classnames and parent-child placements(div .ce-page-container canvas)
*/
.canvas-editor-version div .ce-page-container canvas {
  border: none;
}
